@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Ubuntu');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body{
    background: linear-gradient(to right, #bde5ff, #ecdff1);
    background-size: cover;
    background-position: center;
}

.payment{
    background: #ffffff;
    max-width: 400px;
    margin: 80px auto;
    height: auto;
    padding: 35px;
    padding-top: 70px;
    border-radius: 5px;
    position: relative;
}

.logo-image {
    width: 150px;
    height: auto;
}

.user-image {
    width: 40px;
    height: auto;
}

.check-image {
    width: 90px;
    height: auto;
    margin-top: 20px;
    align-items: center;
}

.modal-content .check-image {
  margin-top: 50px;
}

.booking {
  margin-top: 50px;
}

.form .label{
  display: block;
  color: #555555;
  margin-bottom: 6px;
}

.card-grp{
  display: flex;
  justify-content: space-between;
}

.card-item{
  width: 48%;
}

.space{
  margin-bottom: 20px;
}

.icon-relative{
  position: relative;
}

.icon-relative .fas,
.icon-relative .far{
  position: absolute;
  bottom: 12px;
  left: 15px;
  font-size: 20px;
  color: #555555;
}

.btn{
  margin-top: 40px;
  background: #2196F3;
  padding: 12px;
  text-align: center;
  color: #f8f8f8;
  cursor: pointer;
  width: 100px;
}

.btn:hover {
    transform: scale(1.1);
}

/* 
@media screen and (max-width: 420px){
    .card-grp{
      flex-direction: column;
    }
    .card-item{
      width: 100%;
      margin-bottom: 20px;
    }
    .btn{
      margin-top: 20px;
    }
  } */